<div class="side-pod video-pod">
  <div class="video" targeturl="<%= pod.video.youtube_url %>">
    <%= link_to('', pod.video.youtube_url, :class => "ytlink") %>
    <div class="name"><%= pod.video.name %></div>
  </div>
</div>
