
<% if @posts.many? %>
<div class="blog_rhs">
  <h2><%= t('.other') %></h2>
  <ul id="blog_posts" class=" list-inline list-unstyled">
    <% @posts.each do |blog_post| %>
      <li class="search-item">
          <%= link_to(image_fu(blog_post.image, "105x80#c", :alt => blog_post.image.alt_tag),refinery.blog_post_path(blog_post)) %>
          <div class="search-item-body">
            <h3><%= link_to strip_tags(blog_post.title), refinery.blog_post_path(blog_post) %></h3>
            <div class="description hidden-xs hidden-md"><%=raw truncate(blog_post_teaser(blog_post), :length => 120) %></div>
          </div>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>









